body{
    margin: 0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(270, 20%, 96%);
}
#purplebanner{
    position: absolute;
    top: 0;
    left: -60px;
    height: 105vh;
    width: 25%;
    border-bottom-right-radius: 700px;
    border-bottom-left-radius: 450px;
    z-index: -10;
    background: -webkit-linear-gradient(bottom,hsl(264, 100%, 62%), hsl(293, 100%, 63%));

}
#lightcolorbanner{
    position: absolute;
    top: 40vh;
    right: 0;
    height: 800px;
    width: 22%;
    border-top-left-radius: 600px;
    z-index: -10;
    background: hsl(270, 6%, 88%);;

}
#bodywrap{
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
}
#phone{
    position: relative;
    top: -100px;
    left: 300px;
    padding-top: 0;
    margin-bottom: 100px;
    width: 320px;
    height: 640px;
    border: 15px solid white;
    background-color: hsl(270, 20%, 96%);
    border-radius: 25px;
    box-shadow: 10px 15px 15px gainsboro;
}
#whiteknob{
    position: absolute;
    width: 50%;
    height: 16px;
    left: 25%;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px auto;
    margin-bottom: 0;
    margin-top: 0;
}
#purplechatheader{
    color: hsl(276, 100%, 81%);
    display: flex;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    padding: 10px;
    width: 93%;
    background: -webkit-linear-gradient(left, hsl(264, 100%, 62%), hsl(293, 100%, 63%));
}
#purplechatheader h3{
    margin: 0;
    margin-top: 10px;
    color: hsl(276, 95%, 83%);
}
#purplechatheader h6{
    margin: 0;
    margin-top: 5px;
    color: hsl(276, 100%, 81%);
}
#leftarrow{
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    border: 2px solid white;
    border-bottom: transparent;
    border-right: transparent;
    margin-top: 20px;
}
#avatarimagecontainer{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid white;
}
#avatarimagecontainer img{
    border-radius: 50%;
}
#burger{
    margin-left: 90px;
    margin-top: 10px;
}
.burgerdots{
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: 3px;
}
.leftchat{
    max-width: 62%;
    color: hsl(276, 55%, 52%);
    background-color: gainsboro;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border-bottom-right-radius: 8px;
}
#rightdogimages{
    margin-left: auto;
    display: flex;
    width: 62%;
}
.dogboxes{
    width: 30%;
    border-radius: 3px;
    margin: 4px;
}
.dogboxes img{
    border-radius: 15px;
}
.rightchat{
    max-width: 60%;
    padding: 5px;
    margin: 6px;
    margin-left: auto;
    box-shadow: 1px 5px 8px gainsboro;
    border-radius: 5px;
    border-bottom-left-radius: 8px;
}
#rightchat2{
    width: 40%;
    margin-bottom: 10px;
}
.leftchat.purple{
    max-width: 70%;
    display: flex;
    color: hsl(276, 100%, 81%);;
    justify-content: space-between;
    background: -webkit-linear-gradient(left, hsl(264, 100%, 62%), hsl(293, 100%, 63%));
}
.check{
    width: 10px;
    height: 10px;
    margin-top: 3px;
    border: 1px solid hsl(276, 100%, 81%);
    border-radius: 50%;
}
.leftchat.purple span{
    color: white;
}
#chatarea{
    position: relative;
    width: 80%;
    height: 20px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
}
#typemessage{
    color: hsl(206, 6%, 79%);
}
#rightarrowcontainer{
    position: absolute;
    left: 90%;
    top: 20%;
    background-color: hsl(271, 36%, 24%);
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    margin-bottom: 4px;
}
#rightarrow{
    width: 7px;
    height: 7px;
    border: 2px solid white;
    border-bottom: transparent;
    border-left: transparent;
    transform: rotate(45deg);
    margin: 5px ;
}


#text{
    position: relative;
    width: 36%;
    left: 50%;
    top: 45vh;
}
#text h1{
    font-weight: 700;
    font-size: 45px;
}
#text p{
    line-height: 1.9;
    letter-spacing: 2px;
    color: hsl(270, 7%, 64%);
    font-size: 20px;
    font-weight: 500;
}
.attribution{
    position: relative;
    top: 20vh;
    left: 50%;
    
}

@media (max-width: 1400px){
    #phone{
        left: 10%;
    }
    #whiteknob{
        top: -1px;
    }
}

@media (max-width:768px){
    #phone{
        left: 10%;
        top: -350px;
        margin: 50px;
    }
    #purplebanner{
        position: absolute;
        top: 0;
        left: -60px;
        height: 600px;
        width: 50%;
        border-bottom-right-radius: 600px;
        border-bottom-left-radius: 0px;
        z-index: -10;
        background: -webkit-linear-gradient(bottom,hsl(264, 100%, 62%), hsl(293, 100%, 63%));
    
    }
    #whiteknob{
        position: absolute;
        width: 50%;
        height: 16px;
        left: 25%;
        top: -1px;
        background: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 0px auto;
        margin-bottom: 0;
        margin-top: 0;
    }
    #text{
        position: relative;
        margin: 20px auto;
        top: 800px;
        left: 0;
        width: 80%;
        text-align: center;
    }
    #lightcolorbanner{
        display: none;
    }
    .attribution{
        margin: 20px auto;
        position: relative;
        left: 0px;
        top: 100vh;
    }
}
@media (max-width:420px){
    #phone{
        left: 10%;
        top: -500px;
        margin: 50px;
    }
    #whiteknob{
        position: absolute;
        width: 50%;
        height: 16px;
        left: 25%;
        top: -1px;
        background: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 0px auto;
        margin-bottom: 0;
        margin-top: 0;
    }
    #text{
        position: relative;
        margin: 20px auto;
        top: 95.5vh;
        left: 0;
        width: 80%;
        text-align: center;
    }
    #lightcolorbanner{
        display: none;
    }
    .attribution{
        margin: 20px auto;
        position: relative;
        left: 0px;
    }
}

@media (max-width:375px){
    #phone{
        left: 10px;
        top: -520px;
        margin: 50px;
    }
    #text{
        position: relative;
        padding: 10px;
        top: 800px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    #lightcolorbanner{
        display: none;
    }
    .attribution{
        margin: 20px auto;
        position: relative;
        left: 0px;
        top: 800px;
    }
}